{% extends 'first_page.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="register_donor">
  <table width="477" height="711" border="0">
    <tr>
      <th width="203"> FIRST NAME </th>
      <td width="258"><input type="text" name="textfield" required pattern="[A-Z a-z.]{3,25}"/></td>
    </tr>
    <tr>
      <th height="74">LAST NAME </th>
      <td><input type="text" name="textfield2" required pattern="[A-Z a-z.]{3,25}"/></td>
    </tr>
    <tr>
      <th height="115">GENDER</th>
      <td><p>
          <input name="radiobutton" type="radio" value="MALE" checked />
      MALE</p>
      <p>
        <label>
        <input name="radiobutton" type="radio" value="FEMALE" />
        FEMALE</label>
      </p></td>
    </tr>
    <tr>
      <th>DATE OF BIRTH </th>
      <td><label>
        <input type="date" name="textfield3"  min="1990-01-01" max="2019-12-31" required/>
      </label></td>
    </tr>
    <tr>
      <th>PLACE</th>
      <td><label>
        <input type="text" name="textfield4" required pattern="[A-Z a-z.]{3,25}"/>
      </label></td>
    </tr>
    <tr>
      <th>POST</th>
      <td><label>
        <input type="text" name="textfield5" required pattern="[A-Z a-z.]{3,25}"/>
      </label></td>
    </tr>
    <tr>
      <th>PIN</th>
      <td><label>
        <input type="number" name="textfield6" required pattern="[0-9]{6}"/>
      </label></td>
    </tr>
    <tr>
      <th>EMAIL</th>
      <td><label>
        <input type="text" name="textfield7" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}" />
      </label></td>
    </tr>
    <tr>
      <th>PHONE NUMBER </th>
      <td><label>
        <input type="number" name="textfield8" required pattern="[6789][0-9]{9}"/>
      </label></td>
    </tr>
    <tr>
      <th>USER NAME </th>
      <td><label>
        <input type="text" name="textfield9" required pattern="{4,10}" placeholder="username"/>
      </label></td>
    </tr>
    <tr>
      <th>PASSWORD</th>
      <td><label>
        <input type="password" name="textfield10" required placeholder="password"/>
      </label></td>
    </tr>
    <tr>
      <th colspan="2">
        <div align="justify">
          <input type="submit" name="Submit" value="Register" />
        </div></th>
    </tr>
  </table>
</form>
</body>
{% endblock %}