{% extends 'first_page_donor.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/register_item">
  <div align="center">
    <table width="330" height="303" border="0">
      <tr>
        <th width="151">Item type </th>
        <th width="163"><select name="item_name" size="1">
          <option selected="selected">Food</option>
          <option selected="selected">Cloths</option>
           <option selected="selected">Medicine</option>
        </select>      </th>
      </tr>
      <tr>
        <th>Item name </th>
        <td><input type="text" name="textfield" required/></td>
      </tr>
      <tr>
        <th bgcolor="#FFFFFF">Quantity</th>
        <td><input type="text" name="textfield2" required /></td>
      </tr>
      <tr>
        <td colspan="2"><div align="center">
          <input type="submit" name="Submit" value="ADD" />
        </div></td>
      </tr>
      </table>
  </div>
</form>
</body>
{% endblock %}