<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'first_page.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
  <div align="center">
      <h2 style="position:absolute; left:400px;">Hello ADMIN ,</h2> <br/><h3 style="position:absolute;left:450px; top:200px"> Here you can &nbsp; <span style="font-weight:bold;">  Add and manage Donors </span> ,<span style="font-weight:bold;"> View Delivery Agent </span> ,<span style="font-weight:bold;"> View Users </span> , <span style="font-weight:bold;"> View Feedback </span> , <span style="font-weight:bold;"> View Report </span> </h3>
      <!--<tr>-->
        <!--<th width="419" scope="row"><a href="/viewdonor">ADD &amp; MANAGE DONORS </a></th>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<th scope="row"><a href="/viewdeliveryagent">VIEW DELIVERY AGENT </a></th>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<th scope="row"><a href="/viewuser">VIEW USERS </a></th>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<th scope="row"><a href="/viewfeedback">VIEW FEEDBACK</a></th>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<th scope="row"><a href="/viewreport">VIEW REPORT</a></th>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<th scope="row"><a href="/" onclick="return confirm('Are you sure')">LOGOUT</a></th>-->
      <!--</tr>-->
      </table>
   </div>
</form>
</body>
{% endblock %}
<!--</html>-->
