{% extends 'first_page.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
  <div align="center">
      <h2 style="position:absolute; left:400px;">Hello ADMIN ,</h2> <br/><h3 style="position:absolute;left:450px; top:200px"> Here you can &nbsp; <span style="font-weight:bold;">  Add and manage Donors </span> ,<span style="font-weight:bold;"> View Delivery Agent </span> ,<span style="font-weight:bold;"> View Users </span> , <span style="font-weight:bold;"> View Feedback </span> </h3>
   </div>
</form>
</body>
{% endblock %}
