<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="458" border="0" align="center">
    <tr>
      <th width="174" height="52">DELIVERY AGENT </th>
      <th width="228"><select name="select">
        <option selected="selected">HARIS V</option>
      </select></th>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" name="Submit" value="ASSIGN" /></td>
    </tr>
  </table>
</form>
</body>
</html>
