{% extends 'first_page_donor.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/assigning_agent">
  <table width="487" height="208" border="0">
    <tr>
      <th>DELIVERY AGENT </th>
      <td><select name="select">
        {%for i in val%}
        <option value="{{i[1]}}">{{i[2]}} {{i[3]}}</option>
        {%endfor%}
            </select></td>
    </tr>
    <tr>
      <td><div align="center">
        <input type="submit" name="Submit" value="ASSIGN" />
      </div></td>
      <td>&nbsp;</td>
    </tr>
  </table>
</form>
</body>
{% endblock %}