{% extends 'first_page_donor.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <div align="center">
          <h2 style="position:absolute; left:400px;">Hello DONOR ,</h2> <br/><h3 style="position:absolute;left:450px; top:200px"> Here you can <span style="font-weight:bold;">&nbsp;  Add and manage Deliver Agent </span> ,<span style="font-weight:bold;">Add and manage Item Details </span> ,<span style="font-weight:bold;"> View request </span> , <span style="font-weight:bold;"> View Status </span> </h3>
  </div>
</form>
</body>{% endblock %}

