<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="470" height="101" border="0" align="center">
    <tr>
      <th width="91" height="49">REPORT</th>
      <td width="369"><input type="file" name="file" />
      </td>
    </tr>
    <tr>
      <td height="46" colspan="2">
        <div align="justify">
          <input type="submit" name="Submit" value="Update" />
        </div></td></tr>
  </table>
</form>
</body>
</html>
