<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'first_page_donor.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/update_deliveryagent">
  <table width="477" height="711" border="0">

    <tr>
      <th width="203"> FIRST NAME </th>
      <td width="258"><input type="text" name="textfield" required pattern="[A-Z a-z.]{3,25}" value="{{vals[2]}}"/></td>
    </tr>
    <tr>
      <th height="74">LAST NAME </th>
      <td><input type="text" name="textfield2" required pattern="[A-Z a-z.]{3,25}" value="{{vals[3]}}" /></td>
    </tr>
    <tr>
      <th height="115">GENDER</th>
      <td><p>
        <input name="radiobutton" type="radio" value="Male" {% if vals[4]=="Male" %} checked {% endif %}/>
        MALE</p>
          <p>
            <label>
            <input name="radiobutton" type="radio" value="Female" {% if vals[4]=="Female" %} checked {% endif %} />
              FEMALE</label>
        </p></td>
    </tr>
    <tr>
      <th>DATE OF BIRTH </th>
      <td><label>
        <input type="date" name="textfield3" min="1990-01-01" max="2019-12-31" value="{{vals[5]}}"  />
      </label></td>
    </tr>
    <tr>
      <th>PLACE</th>
      <td><label>
        <input type="text" name="textfield4" required pattern="[A-Z a-z.]{3,25}" value="{{vals[6]}}" />
      </label></td>
    </tr>
    <tr>
      <th>EMAIL</th>
      <td><label>
        <input type="text" name="textfield7" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}" value="{{vals[7]}}" />
      </label></td>
    </tr>
    <tr>
      <th>PHONE NUMBER </th>
      <td><label>
        <input type="number" name="textfield8" required pattern="[6789][0-9]{9}" value="{{vals[8]}}" />
      </label></td>
    </tr>
     <tr>
      <th colspan="2"> <div align="justify">
        <input type="submit" name="Submit" value="UPDATE" />
      </div></th>
    </tr>
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}