{% extends 'first_page.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/update_donor">
  <table width="477" height="711" border="0">
    <tr>
      <th width="203"> FIRST NAME </th>
      <td width="258"><input type="text" name="textfield" value="{{vals[2]}}" /></td>
    </tr>
    <tr>
      <th height="74">LAST NAME </th>
      <td><input type="text" name="textfield2" value="{{vals[3]}}"  /></td>
    </tr>
    <tr>
      <th height="115">GENDER</th>
      <td><p>
        <input name="radiobutton" type="radio" value="Male" {%if vals[4]=="MALE"%} checked {%endif%} />
        MALE</p>
          <p>
            <label>
            <input name="radiobutton" type="radio" value="Female" {%if vals[4]=="FEMALE"%} checked {%endif%}/>
              FEMALE</label>
        </p></td>
    </tr>
    <tr>
      <th>DATE OF BIRTH </th>
      <td><label>
        <input type="date" name="textfield3" value="{{vals[5]}}"  />
      </label></td>
    </tr>
    <tr>
      <th>PLACE</th>
      <td><label>
        <input type="text" name="textfield4" value="{{vals[6]}}"  />
      </label></td>
    </tr>
    <tr>
      <th>POST</th>
      <td><label>
        <input type="text" name="textfield5" value="{{vals[7]}}"  />
      </label></td>
    </tr>
    <tr>
      <th>PIN</th>
      <td><label>
        <input type="number" name="textfield6" value="{{vals[8]}}"  />
      </label></td>
    </tr>
    <tr>
      <th>EMAIL</th>
      <td><label>
        <input type="text" name="textfield7" value="{{vals[9]}}"  />
      </label></td>
    </tr>
    <tr>
      <th>PHONE NUMBER </th>
      <td><label>
        <input type="number" name="textfield8" value="{{vals[10]}}"  />
      </label></td>
    </tr>
    <tr>
      <th colspan="2"> <div align="justify">
        <input type="submit" name="Submit" value="Update"/>
      </div></th>
    </tr>
  </table>
</form>
</body>
{% endblock %}