{% extends 'first_page_donor.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/update_item">
  <div align="center">
    <table width="330" height="303" border="0">
      <tr>
        <th width="151">Item type </th>
        <th width="163"><select name="item_name" size="1">
          <option {% if vals[2]=="Food"%}  selected="selected"  {%endif%} >Food</option>
          <option {% if vals[2]=="Clothe"%}  selected="selected" {%endif%}>Clothes</option>
           <option {% if vals[2]=="Medicine"%}  selected="selected" {%endif%}>Medicine</option>
        </select>      </th>
      </tr>
      <tr>
        <th>Item name </th>
        <td><input type="text" name="textfield" value="{{vals[3]}}"/></td>
      </tr>
      <tr>
        <th bgcolor="#FFFFFF">Quantity</th>
        <td><input type="text" name="textfield2"  value="{{vals[4]}}"/></td>
      </tr>
      <tr>
        <td colspan="2"><div align="center">
          <input type="submit" name="Submit" value="UPDATE" />
        </div></td>
      </tr>
      </table>
  </div>
</form>
</body>
{% endblock %}