{% extends 'index.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/login_code">
  <table width="967" height="348" border="0">
    <tr>
      <th width="416" scope="row">USER NAME </th>
      <td width="541"><input type="text" name="textfield" required /></td>
    </tr>
    <tr>
      <th scope="row">PASSWORD</th>
      <td><input type="password" name="textfield2" required/></td>
    </tr>
    <tr>
      <th scope="row"><input type="submit" name="Submit" value="LOGIN"  /></th>
      <td>&nbsp;</td>
    </tr>
  </table>
</form>
</body>
{% endblock %}

