<!-- <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head> -->
{% extends 'first_page_donor.html' %}
{% block body %}
<body>
<form action="/report_add" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="552" height="161" border="1" align="center">
    <tr>
      <th width="262">REPORT</th>
      <td width="274"><input type="file" name="file" /></td>
    </tr>
    <tr>
      <td colspan="2">
        <div align="left">

          <input type="submit" name="Submit" value="ADD" />
        </div></td>
    </tr>

  </table>
    </form>
  <form name="form2" action="/donor_view_report" method="post">
   <div align="center">
      <input type="submit" name="Submit" value="VIEW REPORTS" />
    </div>

</form>
</body>
{% endblock %}
<!-- </html> -->
