{% extends 'first_page.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
  <table width="743" height="131" border="0">
    <tr>
      <th width="160" height="63">NAME</th>
      <th width="136">GENDER</th>
      <th width="147">PLACE</th>
      <th width="141">PHONE</th>
      <th width="125">EMAIL</th>
    </tr>
    {% for i in val %}
    <tr>
      <td height="60">&nbsp; <div align="center">{{i[2]}} {{i[3]}}</div></td>
      <td>&nbsp;
      <div align="center">{{i[4]}}</div></td>
      <td>&nbsp;
      <div align="center">{{i[6]}}</div></td>
      <td>&nbsp;
      <div align="center">{{i[8]}}</div></td>
      <td>&nbsp;
      <div align="center">{{i[7]}}</div></td>
    </tr>
    {% endfor %}
  </table>
</form>
</body>
{% endblock %}
