
{% extends 'first_page.html' %}
{% block body %}
<body>

<form id="form1" name="form1" method="post" action="/add_donor">
  <div align="center">
    <style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}
</style>
    <table width="845" height="194" border="0">
      <tr>
        <th width="83" height="84" scope="row">NAME</th>
        <th width="71">GENDER</th>
        <th width="66">DOB</th>
        <th width="65">PLACE</th>
        <th width="70">POST</th>
        <th width="63">PIN</th>
        <th width="79">EMAIL</th>
        <th width="102">PHONE</th>
        <td width="98">&nbsp;</td>
        <td width="84">&nbsp;</td>
      </tr>
      {% for i in val %}
      <tr>
        <th height="102" scope="row">{{i[2]}} {{i[3]}}</th>
        <td>  {{i[4]}}&nbsp;</td>
        <td>{{i[5]}}</td>
        <td>&nbsp;{{i[6]}}</td>
        <td>&nbsp;{{i[7]}}</td>
        <td>&nbsp;{{i[8]}}</td>
        <td>&nbsp;{{i[9]}}</td>
        <td>&nbsp;{{i[10]}}</td>
        <th><a href="/delete_donor?id={{i[1]}}">DELETE</a></th>
        <th><a href="/edit_donor?id={{i[1]}}">EDIT</a></th>
      </tr>
      {% endfor %}
      </table>
    </div>

    <style>

      #btn {
        background-color: #4CAF50;
        border : none;
        color : white;
        padding : 16px 32px;
        text-decoration : none;
        margin : 4px 2px;
        cursor : pointer;
       }
    </style>
  </div>
  <p align="center">
    <input type="submit" id="btn" name="Submit" value="ADD DONOR" />
  </p>
</form>
</body>{% endblock %}

